<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045233300008-3ul3nnj0pfjh2ehdo4ek7p9o7dfb36bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045233300008-3ul3nnj0pfjh2ehdo4ek7p9o7dfb36bo</string>
	<key>API_KEY</key>
	<string>AIzaSyBWE3uQcTeCkDVT2GNsPaUFujoIJd-m4NY</string>
	<key>GCM_SENDER_ID</key>
	<string>1045233300008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasanyildiz.CheggList</string>
	<key>PROJECT_ID</key>
	<string>chegglist</string>
	<key>STORAGE_BUCKET</key>
	<string>chegglist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045233300008:ios:6ff64834d9d8e62d7d7b1d</string>
</dict>
</plist>